/* sanchez-regular - latin */
@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  src: local("Sanchez"), local("Sanchez-Regular"),
    url("../public/fonts/sanchez-v7-latin/sanchez-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/fonts/sanchez-v7-latin/sanchez-v7-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/fonts/sanchez-v7-latin/sanchez-v7-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

.para {
  color: rgb(247, 242, 242);
  background-color: rgb(113, 26, 194);
  font-family: "Sanchez";
}

.bck {
  background-image: url("../public/images/notfound.png");
  background-color: rgb(27, 240, 211);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200px;
}
